@mixin okay-button($theme) {
  .mat-icon {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .mat-button-base,
  .mat-button-wrapper,
  .mat-icon,
  .mat-ripple,
  .mat-button-focus-overlay {
    height: 30px;
    width: 30px;
  }

  .mat-button-wrapper {
    padding: 0 !important;
  }
}
