@mixin okay-menu($theme) {
  @debug $theme;

  $primary-color: x-map-get($theme, 'primary', 'default');
  $warn-color: x-map-get($theme, 'warn', 'default');
  $accent-color: x-map-get($theme, 'accent', 'default');

  .okay-overlay__background {
    &--primary {
      background: linear-gradient($primary-color, x-map-get($theme, 'primary', 600));
    }
    &--accent {
      background: linear-gradient($accent-color, x-map-get($theme, 'accent', 600));
    }
    &--warn {
      background: linear-gradient($warn-color, x-map-get($theme, 'warn', 600));
    }
  }
}
