<mat-card class="d-flex flex-column m-4" *ngIf="task">
  <div class="d-flex align-items-center">
    <mat-checkbox></mat-checkbox>
    <div class="okay-task-title-container">
      <div class="">
        <mat-card-title>{{task.name}}</mat-card-title>
        <mat-card-subtitle>
          {{task.dueDate | date:'mediumDate'}}
        </mat-card-subtitle>
      </div>
      <div class="okay-task-tags">
        <!-- <div [style]="{backgroundUrl: }"></div> -->
        <okay-assignee [task]="task"></okay-assignee>

        <button mat-icon-button>
          <mat-icon>flag</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-card-content>
    <mat-tab-group (selectedIndexChange)="switchTab($event)">
      <mat-tab label="Details">
        <div class="okay-tab-group">
          <div class="okay-task-items">
            <div class="okay-task-item">
              <span class="okay-task-item--label">Room</span>
              <span class="okay-task-item--value">{{task.room}}</span>
            </div>

            <div *ngIf="task.description" class="okay-task-item">
              <span class="okay-task-item--label">Description</span>
              <span class="okay-task-item--value">
                {{task.description}}
              </span>
            </div>

          </div>
        </div>
      </mat-tab>
      <mat-tab label="Queue">
        <okay-queue *ngIf="tabIndex === 1" [taskId]="task?.id"></okay-queue>
      </mat-tab>
      <mat-tab label="Comments"> Content 2 </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>

<button (click)="login()">Login</button>
