<ng-container [ngSwitch]="details?.type">
  <mat-form-field *ngSwitchCase="inputTypes.Input">
    <input matInput [value]="details?.name" [ngClass]="isRequiredClass">
  </mat-form-field>

  <mat-form-field *ngSwitchCase="inputTypes.Dropdown">
    <mat-select>
      <mat-option *ngFor="let option of details?.options | keyvalue">
      <!-- <mat-option *ngFor="let option of details?.options | keyvalue" [value]="food.value"> -->
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field *ngSwitchCase="inputTypes.Date">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->

  <mat-slider *ngSwitchCase="inputTypes.Range"></mat-slider>
</ng-container>
