<mat-form-field *ngIf="details && details?.type !== inputTypes.Range">
  <mat-label>{{details?.name}}</mat-label>

  <input *ngIf="details?.type === inputTypes.String" matInput [ngClass]="isRequiredClass + ' ' +  additionalClasses" [(ngModel)]="value"
    class="w-100">

  <mat-select [(ngModel)]="value" class="w-100" *ngIf="details?.type === inputTypes.Dropdown">
    <mat-option *ngFor="let option of details?.options | keyvalue" [value]="option.value">
      {{option.value}}
    </mat-option>
  </mat-select>

  <ng-container *ngIf="details?.type === inputTypes.Date">
    <input matInput [matDatepicker]="picker" [(ngModel)]="value" class="w-100">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </ng-container>

</mat-form-field>

<div *ngIf="details && details?.type === inputTypes.Range" class="d-flex align-items-center justify-content-center flex-grow-2">

  <span class="okay-text--foreground mr-2">{{details?.name}}</span>
  <mat-slider class="okay-slider" [(ngModel)]="value"></mat-slider>
</div>
