::ng-deep {
  .mat-list-item-content, .mat-list-item-ripple, .mat-list-text {
    display: flex;
    flex-grow: 2;
  }
}


.okay-list-item {
  padding: 0 16px;
  height: 65px;
  display: flex;
  align-items: flex-end;

  ::ng-deep {
    .mat-icon {
      font-size: 32px;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
