.okay-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.okay-container--fill {
  display: flex;
  flex-grow: 2;
}

@for $i from 1 to 3 {
  .flex-grow-#{$i} {
    flex-grow: #{$i};
  }
}
