@import './okay';

.okay-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.flex-grow-2 {
  flex-grow: 2;
}


.okay-input--large {
  font-size: 30px !important;
}

.okay-input--no-underline {
  .mat-form-field-infix {
    border-top: 0;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
   background-color: transparent !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-ripple {
    margin-top: 40px;
  }

  .mat-form-field-infix {
    padding-bottom: 0;
  }
}


.okay-input--fill {
  .mat-form-field,
  .mat-form-field-wrapper,
  .mat-form-field-flex,
  .mat-form-field-infix,
  .mat-input-element,
  .mat-form-field-underline,
  .mat-form-field-ripple

   {
    display: flex;
    flex-grow: 2;
  }
}

.okay-text--foreground {
  color: rgba(0, 0, 0, 0.54);
}

.okay-slider {
  &, .mat-slider-wrapper, .mat-slider-track-wrapper, .mat-slider-track-background, .mat-slider-track-fill {
    display: flex !important;
    flex-grow: 2;
  }
}
