.okay-header {
  position: relative;
  .okay-header__logo {
    background-image: url('/assets/images/logo/okay.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: scaleX(-1);
    height: 5rem;
    width: 5rem;
  }

  .okay-header__banner {
    margin: 1rem 0 1rem 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 15rem;
    width: 100%;
  }

  .okay-header__text {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    position: absolute;
    bottom: 1;
  }
}

.okay-theme--sofa {
  .okay-header__banner {
    background-image: url('/assets/images/theme/sofa.jpg');
  }
}
