<div class="okay-theme okay-theme--sofa okay-container">
  <okay-overlay *ngIf="overlayService.opened"></okay-overlay>

  <!-- <router-outlet></router-outlet> -->
  <okay-task ></okay-task>

  <nav mat-tab-nav-bar class="mat-tab-group-inverted-header" [disablePagination]="true">
    <a mat-tab-link *ngFor="let route of routes; let i = index" [routerLink]="route.path" #rla="routerLinkActive" routerLinkActive
      [active]="rla.isActive">
      <mat-icon mat-list-icon>{{route.data?.icon}}</mat-icon>
    </a>
  </nav>
</div>
