<button mat-icon-button>
  <mat-icon>account_circle</mat-icon>
</button>

<form>
  <mat-form-field>
    <input matInput placeholder="Assignee" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let user of users" [value]="user.id">
        <img [src]="user.photoUrl" height="25">
        <span>{{user.firstName}} {{user.lastName}}</span> |
        <!-- <small>Population: {{state.population}}</small> -->
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
