@mixin okay-theme__app--sofa($theme) {
  $background-color: x-map-get($theme, 'background', 'background');

  $primary-color: x-map-get($theme, 'primary', 'default');
  $warn-color: x-map-get($theme, 'warn', 'default');
  $accent-color: x-map-get($theme, 'accent', 'default');

  $text-color: x-map-get($theme, 'default', 'text');

  background-color: $background-color;

  .okay-header__text {
    // color: $text-color;
    // text-shadow: 4px 3px 0 $primary-color, 6px 6px 0 $accent-color;
    color: #FFFFFF;
// background: #000000;
text-shadow: 4px 3px 0 x-map-get($theme, 'primary', 'A400');
  }

  &.okay-background {
    &--primary {
      background-color: $primary-color;
    }
    &--accent {
      background-color: $accent-color;
    }
    &--warn {
      background-color: $warn-color;
    }
  }
}
