@mixin okay-theme__app--sofa($theme) {
  $background-color: x-map-get($theme, 'background', 'background');

  $primary-color: x-map-get($theme, 'primary', 'A400');
  $warn-color: x-map-get($theme, 'warn', 'A400');
  $accent-color: x-map-get($theme, 'accent', 'A400');

  $text-color: x-map-get($theme, 'default', 'text');

  background-color: $background-color;

  .okay-header__text {
    // color: $text-color;
    // text-shadow: 4px 3px 0 $primary-color, 6px 6px 0 $accent-color;
    color: #FFFFFF;
// background: #000000;
text-shadow: 4px 3px 0 $primary-color;
  }
}
