<div cdkDropList class="okay-list okay-container--fill m-3" (cdkDropListDropped)="drop($event)">
  <div class="p-3 d-flex align-items-center" [formGroup]="form">
    <okay-input [for]="inputParams" class="okay-input--suffix-1 okay-input--fill okay-input--large mr-3" formControlName="filter"></okay-input>
    <button mat-icon-button (click)="openSortModal()">
      <mat-icon>
        swap_vert
      </mat-icon>
    </button>
  </div>


  <ng-container *ngFor="let task of tasks">
    <div class="okay-box" cdkDrag cdkDragLockAxis="y" (click)="goToTask(task)">
      <div class="okay-custom-placeholder" *cdkDragPlaceholder></div>
      <div class="d-flex">
        <mat-checkbox class="okay-checkbox"></mat-checkbox>
        <div class="d-flex flex-column">
          <span>{{task?.name}}</span>
          <small>{{task?.dueDate | date:'shortDate'}}</small>

        </div>
      </div>
    </div>
  </ng-container>
</div>
